table{
    border-collapse: collapse;
    border: 1px solid gray;
}

th, td{
    border: 1px solid red;
}

form{
    width: 50%;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
}

label {
    flex: 1;
}

input, select {
    flex: 5;
}
a{
    font-size: 20px;
}
a:hover{
    color: red;
}