{% extends "pv/templates/base.html" %}
{% block title %}contacts{% endblock %}
{% block header_name %}contacts{% endblock %}
{% block information %}
    <ul>
        <li>Служба пожарной охраны	01</li>
        <li>Служба полиции	02</li>
        <li>Служба скорой медицинской помощи	03</li>
        <li>Аварийная служба газовой сети	04</li>
        <li>Единая дежурно-диспетчерская служба	59-64-00</li>
        <li>МКУ «Управление по делам ГО и ЧС г. Калининграда»	92-38-25</li>
    </ul>
{% endblock %}