{% extends "pv/templates/base.html" %}
{% block title %}news{% endblock %}
{% block header_name %}news{% endblock %}
{% block information %}Дворники в Калининграде на сегодня с трудом зарабатывают 40 тысяч рублей. Об этом сообщили представители городской администрации в комментариях в телеграм-канале «Клопс».
«По данным «Калининградстата», среднемесячная зарплата в Калининградской области на август 2023 года составила 52,2 тысячи рублей. Профессия дворника не является высокооплачиваемой работой, учитывая требования тарифно-квалификационных характеристик и уровня квалификации, заработная плата уборщика территории на сегодня с трудом может составлять 40 тысяч рублей», — говорится в сообщении.
На сегодняшний день снег в городе убирают 547 дворников и рабочих.{% endblock %}