<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="">
        <tr>
            <td><label for="number1">Введите первое число</label><td>
            <td><input type="number" min="1" max="99" id="number1" name="number1" required/><td>
        </tr>
        <tr>
            <td><label for="number2">Введите второе число</label><td>
            <td><input type="number" min="1" max="99" id="number2" name="number2" required/><td>
        </tr>
        <tr>
            <td><label for="number3">Введите третье число</label><td>
            <td><input type="number" min="1" max="99" id="number3" name="number3" required/><td>
        </tr>
    </form>
</body>
</html>